3laba/laba3/.vs/laba3/v17/DocumentLayout.backup.json
3laba/laba3/.vs/laba3/v17/.suo
3laba/laba3/.vs/laba3/FileContentIndex/dc1e9b88-9e48-4b50-8648-6e127ca56bea.vsidx
3laba/laba3/.vs/laba3/FileContentIndex/6f463a2a-9f6e-4f83-8ef2-dc5aafefd505.vsidx
3laba/laba3/main.cpp
